.like-button {
  background-image: url(../../images/like-button.svg);
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0;
  background-color: #fff;
  background-repeat: no-repeat;
}

.like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.like-button:active {
  background-image: url(../../images/like-active.png);
  background-size: 100%;
  opacity: 1;
}
