.profile__name-section {
  width: 336px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .profile__name-section {
    width: 100%;
    justify-content: center;
  }
}
