.header {
  max-height: 74px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(33%, 33%, 33%, 0.7);
}

@media screen and (max-width: 320px) {
  .header {
    max-height: 56px;
    margin: 28px 0 42px 0;
    width: 100%;
  }
}
